* {
    margin:0px;
}
.header {
    justify-content: center;
    text-align: center;
    align-items: center;
    display:flex ;
    background-color: #ff5714;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600; /**100-700 **/
    font-style: normal;
}
.header ul {
    list-style-type: none;
}
.header ul a, .header ul a:visited, .header ul a:active {
    text-decoration: none;
}
.header ul a li {
    margin: 8px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    float: left;
    font-size: 20px;
}
.small-cont-1 {
    background-image: url(Images/calc.jpg);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 800px;
    text-align: center;
}
p {
    position: relative;
    bottom: 50%;
    top: 50%;
    font-size: 50px;
    color: #fb8500;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600; /**100-700 **/
    font-style: normal;
}
.small-cont-2 {
    background-image: url(Images/finart.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
    text-align: center;
}
.small-cont-3 {
    background-image: url(Images/pot\ money.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.images img {
    width: 400px;
    height: 200px;
    padding: 100px;
}
img:hover {
    width: 500px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
}
.footer {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: black;
    color: white;
}
.col-1 {
    margin-right: 100px;
}
.col-1 ul {
    list-style-type: none;
}
.col-1 ul a {
    text-decoration: none;
    color: white;
}
.col-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col-2 {
    margin-left: 100px;
}
.copyright {
    text-align: center;
    margin-top: 10px;
}