* {
  background-image: url(Images/finart.jpg);
  background-size: cover;
  }
  body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
.signin {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 50%;
  background: transparent;
  width: 500px;
  height: 150px;
}
.f-name, .s-name, .dob, .mail, .p-word, .c-pword, .phone {
  padding: 5px;
  font-family: kanit;
  margin: 0px;
}
.f-name input, .s-name input, .dob input, .mail input, .p-word input, .c-pword input, .phone input {
  border: none;
}
input:focus {
  outline: none;
}
button {
  font-family: kanit;
  font-size: 18px;
  border-radius: 8px;
}
button:hover {
  background: teal;
}